.select-image {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    li {
      background: fade(@primaryColor, 20%);
      border-radius: 6px;
      width: 150px;
      height: 150px;
      margin: 0 5px 10px 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      .trans;

      &.active {
        border: 3px solid @blueColor;
      }

      &:hover {
        transform: scale(1.01);
        background: fade(@primaryColor, 40%);
        .trans;
        .boxShadow();
      }

      img {
        max-width: 90%;
        max-height: 90%;
      }

      &.add-item {
        color: @primaryColor;
        opacity: 0.6;
        font-size: 3rem;
      }
    }
  }
}
